* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: vibes;
	src: url('../public/fonts/great-vibes.regular.ttf') format('truetype');
}

html, body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	overflow-x: hidden;
	position: relative;
	z-index: -5;
}

.container {
	width: 100%;
	height: 100%;
}

p {
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

section {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.transparent-bg {
	background-color: #FFFFFF60;
	padding: 5em;
	border-radius: 1em;
	width: 65%;
	text-align: center;
}

.parallax-container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
}

@media screen and (max-width: 1000px) {
	.transparent-bg {
		padding: 1em;
		width: 75%;
	}
}


/* ----- LANDING PAGE ----- */
.heading-section > div > h1 {
	color: #FFFFFF;
	font-size: 5vw;
	font-weight: 400;
	letter-spacing: -0.025em;
	text-align: center;
	font-family: vibes, serif;
	text-shadow: 0 0 7px #000000;
}

.heading-section > div > h3 {
	color: #FFFFFF;
	font-size: 2vw;
	font-weight: 400;
	letter-spacing: -0.025em;
	text-align: center;
	font-family: vibes, serif;
	text-shadow: 0 0 7px #000000;
}

/*.heading-section > div > h1 {
	color: #000000;
	font-size: 5vw;
	font-weight: 400;
	letter-spacing: -0.025em;
	text-align: center;
	font-family: vibes, serif;
	text-shadow: 0 0 10px #F7E8D1;
}

.heading-section > div > h3 {
	color: #000000;
	font-size: 2vw;
	font-weight: 400;
	letter-spacing: -0.025em;
	text-align: center;
	font-family: vibes, serif;
	text-shadow: 0 0 10px #F7E8D1;
}*/

@media screen and (max-width: 1000px) {
	.heading-section > div > h1 {
		font-size: 15vw;
	}

	.heading-section > div > h3 {
		font-size: 7vw;
	}
}


/* ----- DETAILS ----- */
.details-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.details-section > div > h2 {
	font-family: vibes, serif;
	font-size: 3em;
	margin-bottom: 0.5em;
}

.timeline-content > img {
	height: 4em;
	aspect-ratio: 1 / 1;
}

.tcl > img {
	margin-left: 0.5em;
}

.tcr > img {
	margin-right: 0.5em;
	margin-left: 0.5em;
}

.diff-icon {
	margin-right: 0.5em;
}

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 2px;
	background-color: #000000;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -2px;
}

.timeline-container {
	padding: 10px 40px;
	position: relative;
	width: 50%;
}

.timeline-container::after {
	content: '';
	position: absolute;
	width: 35px;
	height: 2px;
	right: 1px;
	background-color: #000000;
	top: 2.5em;
	z-index: 1;
}

.t-left {
	left: 0;
}

.t-right {
	left: 50%;
}

.t-right::after {
	left: 0;
}

.timeline-content {
	display: flex;
}

.tcl {
	flex-direction: row-reverse;
}

.tcr {
	flex-direction: row;
}

.details-text {
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}

.dtl {
	align-items: flex-end;
	text-align: right;
}

.dtr {
	align-items: flex-start;
	text-align: left;
}

.normal-text {
	font-size: 0.85em;
}

.small-text {
	font-size: 0.75em;
	font-style: italic;
}

@media screen and (max-width: 1000px) {
	.timeline::after {
		left: 31px;
	}

	.timeline-container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	.timeline-content > img {
		width: 4em;
		aspect-ratio: 1 / 1;
	}

	.tcl-cocktail > img {
		margin-left: -0.75em;
	}

	.details-text {
		margin-left: 0.75em;
		text-indent: -0.5em;
	}

	.tcr {
		flex-direction: column;
	}

	.tcl {
		flex-direction: column;
	}

	.t-left::after, .t-right::after {
		left: 30px;
	}

	.t-right {
		left: 0;
	}

	.dtl {
		align-items: flex-start;
		text-align: left;
	}
}


/* ----- COUNTDOWN ----- */
.countdown-section > div > h2 {
	font-family: vibes, serif;
	font-size: 3em;
}

.show-counter {
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	flex-wrap: wrap;
	align-content: stretch;
}

.countdown {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	margin: 1.5%;
	padding: 1em;
	line-height: 2em;
	border: 1px solid #373737;
	border-radius: 50%;
	height: 10vw;
	aspect-ratio: 1 / 1;
}

.countdown-value {
	font-size: 2em;
}

.countdown-type {
	font-size: 1em;
}

@media screen and (max-width: 1000px) {
	.show-counter {
		flex-direction: column;
	}

	.countdown {
		margin: 1.5%;
		padding: 3em;
		line-height: 1.5em;
		border-radius: 50%;
		width: 15vw;
		aspect-ratio: 1 / 1;
	}
}


/* ----- FORM ----- */
.form-section > div > h2 {
	font-family: vibes, serif;
	font-size: 3em;
}

.form-section > div > h3 {
	font-family: vibes, serif;
	font-size: 2em;
	margin-bottom: 0.5em;
}

.form-basic-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin: 0.5em;
}

.form-basic-info > input {
	font-size: 1.5em;
	background: #FFFFFF;
	margin-right: 1em;
}

.form-basic-info > label {
	font-size: 1.5em;
}

input[type="checkbox"] {
	font: inherit;
	color: #FFFFFF;
	width: 0.75em;
	height: 0.75em;
	border: 0.15em solid #373737;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
	margin-right: 0.25em;
	place-content: center;
	cursor: pointer;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin: 0 10em 0 10em;
}

.form-attendance-info {
	font-size: 1.5em;
	margin: 0 0.5em 0.5em 0.5em;
}

.form-attendance-info > label > input {
	font-size: 1em;
	background: #FFFFFF;
	margin-left: 1em;
}

.form-additional-guests {
	font-size: 1.5em;
	margin: 0 0.5em 0.5em 0.5em;
}

.guest-info {
	margin-bottom: 0.5em;
}

.guest-info > span {
	margin-right: 0.5em;
}

.guest-info > input {
	font-size: 1em;
	background: #FFFFFF;
	margin-right: 0.5em;
}

.form-container > button {
	padding: 1em;
	background-color: #FFFFFF;
	transition: 0.3s;
	border: 2px solid #373737;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1em;
}

.form-container > button:hover {
	padding: 1em;
	background-color: #c6c6c6;
}

@media screen and (max-width: 1000px) {
	.form-section > div > h2 {
		font-size: 2.5em;
	}

	.form-section > div > h3 {
		font-size: 1.5em;
	}

	.form-section > div > h4 {
		font-size: 0.75em;
		text-align: left;
		font-style: italic;
	}

	.form-container {
		flex-direction: column;
		align-content: flex-start;
		align-items: flex-start;
		margin: 0;
	}

	.form-basic-info {
		margin: 0.25em;
	}

	.form-basic-info > input {
		font-size: 0.85em;
		background: #FFFFFF;
		margin-right: 0.75em;
	}

	.form-basic-info > label {
		font-size: 0.85em;
	}

	.form-attendance-info {
		font-size: 0.85em;
	}

	.form-attendance-info > label > select {
		font-size: 0.85em;
		margin-left: 0.5em;
	}

	.form-additional-guests {
		font-size: 0.85em;
	}

	.form-container > button {
		font-size: 0.85em;
		padding: 0.5em;
		align-self: center;
	}
}


/* ----- RSVP LIST ----- */
.rsvpList {
	margin: 2em;
	list-style-type: none;
}

.rsvpList > p {
	text-align: left;
}